@@ -0,0 +1,287 @@
#EXTM3U
#EXTINF:-1,BR: Woohoo
http://163.172.84.149:8000/live/DiogoDias/Cx3OcSIVPP/1893.ts
#EXTINF:-1,BR: TNT S
http://163.172.84.149:8000/live/DiogoDias/Cx3OcSIVPP/1851.ts
#EXTINF:-1,BR: Telecine Cult
http://163.172.84.149:8000/live/DiogoDias/Cx3OcSIVPP/1820.ts
#EXTINF:-1,BR: SyFy
http://163.172.84.149:8000/live/DiogoDias/Cx3OcSIVPP/1822.ts
#EXTINF:-1,BR: Studio Universal
http://163.172.84.149:8000/live/DiogoDias/Cx3OcSIVPP/1823.ts
#EXTINF:-1,BR: Space HD
http://163.172.84.149:8000/live/DiogoDias/Cx3OcSIVPP/1852.ts
#EXTINF:-1,BR: Space
http://163.172.84.149:8000/live/DiogoDias/Cx3OcSIVPP/1824.ts
#EXTINF:-1,BR: Record
http://163.172.84.149:8000/live/DiogoDias/Cx3OcSIVPP/1825.ts
#EXTINF:-1,BR: OFF HD
http://163.172.84.149:8000/live/DiogoDias/Cx3OcSIVPP/1865.ts
#EXTINF:-1,BR: Nickelodeon
http://163.172.84.149:8000/live/DiogoDias/Cx3OcSIVPP/1866.ts
#EXTINF:-1,BR: Nick Jr HD
http://163.172.84.149:8000/live/DiogoDias/Cx3OcSIVPP/1867.ts
#EXTINF:-1,BR: Nick Jr
http://163.172.84.149:8000/live/DiogoDias/Cx3OcSIVPP/1832.ts
#EXTINF:-1,BR: National Geographic HD
http://163.172.84.149:8000/live/DiogoDias/Cx3OcSIVPP/1868.ts
#EXTINF:-1,BR: National Geographic
http://163.172.84.149:8000/live/DiogoDias/Cx3OcSIVPP/1833.ts
#EXTINF:-1,BR: NatGeo Wild HD
http://163.172.84.149:8000/live/DiogoDias/Cx3OcSIVPP/1869.ts
#EXTINF:-1,BR: NatGeo Wild
http://163.172.84.149:8000/live/DiogoDias/Cx3OcSIVPP/1834.ts
#EXTINF:-1,BR: NatGeo Kids
http://163.172.84.149:8000/live/DiogoDias/Cx3OcSIVPP/1870.ts
#EXTINF:-1,BR: Lifetime HD
http://163.172.84.149:8000/live/DiogoDias/Cx3OcSIVPP/1872.ts
#EXTINF:-1,BR: History Channel HD
http://163.172.84.149:8000/live/DiogoDias/Cx3OcSIVPP/1874.ts
#EXTINF:-1,BR: History Channel
http://163.172.84.149:8000/live/DiogoDias/Cx3OcSIVPP/1835.ts
#EXTINF:-1,BR: HBO Signature
http://163.172.84.149:8000/live/DiogoDias/Cx3OcSIVPP/1836.ts
#EXTINF:-1,BR: HBO Plus*e
http://163.172.84.149:8000/live/DiogoDias/Cx3OcSIVPP/1837.ts
#EXTINF:-1,BR: HBO Family
http://163.172.84.149:8000/live/DiogoDias/Cx3OcSIVPP/1838.ts
#EXTINF:-1,BR: HBO 2
http://163.172.84.149:8000/live/DiogoDias/Cx3OcSIVPP/1875.ts
#EXTINF:-1,BR: H2 HD
http://163.172.84.149:8000/live/DiogoDias/Cx3OcSIVPP/1876.ts
#EXTINF:-1,BR: GNT
http://163.172.84.149:8000/live/DiogoDias/Cx3OcSIVPP/1839.ts
#EXTINF:-1,BR: Gloob HD
http://163.172.84.149:8000/live/DiogoDias/Cx3OcSIVPP/1877.ts
#EXTINF:-1,BR: Globo SP
http://163.172.84.149:8000/live/DiogoDias/Cx3OcSIVPP/1840.ts
#EXTINF:-1,BR: Globo RJ
http://163.172.84.149:8000/live/DiogoDias/Cx3OcSIVPP/1841.ts
#EXTINF:-1,BR: Globo Nordeste
http://163.172.84.149:8000/live/DiogoDias/Cx3OcSIVPP/1842.ts
#EXTINF:-1,BR: Globo News
http://163.172.84.149:8000/live/DiogoDias/Cx3OcSIVPP/1843.ts
#EXTINF:-1,BR: ESPN HD
http://163.172.84.149:8000/live/DiogoDias/Cx3OcSIVPP/1887.ts
#EXTINF:-1,BR: Combate HD
http://163.172.84.149:8000/live/DiogoDias/Cx3OcSIVPP/1889.ts
#EXTINF:-1,BR: Canal Sony
http://163.172.84.149:8000/live/DiogoDias/Cx3OcSIVPP/1845.ts
#EXTINF:-1,BR: Boomerang HD
http://163.172.84.149:8000/live/DiogoDias/Cx3OcSIVPP/1892.ts
#EXTINF:-1,BR: Boomerang
http://163.172.84.149:8000/live/DiogoDias/Cx3OcSIVPP/1846.ts
#EXTINF:-1,BR: História
http://163.172.84.149:8000/live/DiogoDias/Cx3OcSIVPP/1706.ts
#EXTINF:-1,BR: H2
http://163.172.84.149:8000/live/DiogoDias/Cx3OcSIVPP/1707.ts
#EXTINF:-1,BR: FX
http://163.172.84.149:8000/live/DiogoDias/Cx3OcSIVPP/1702.ts
#EXTINF:-1,BR: Fox Sports HD
http://163.172.84.149:8000/live/DiogoDias/Cx3OcSIVPP/1704.ts
#EXTINF:-1,BR: Fox Sports 2
http://163.172.84.149:8000/live/DiogoDias/Cx3OcSIVPP/1705.ts
#EXTINF:-1,BR: Fox
http://163.172.84.149:8000/live/DiogoDias/Cx3OcSIVPP/1694.ts
#EXTINF:-1,BR: Fish TV
http://163.172.84.149:8000/live/DiogoDias/Cx3OcSIVPP/1696.ts
#EXTINF:-1,BR: Esporte Interativo HD
http://163.172.84.149:8000/live/DiogoDias/Cx3OcSIVPP/1656.ts
#EXTINF:-1,BR: Esporte Interativo 2 HD
http://163.172.84.149:8000/live/DiogoDias/Cx3OcSIVPP/1657.ts
#EXTINF:-1,BR: Esporte Interativo 2
http://163.172.84.149:8000/live/DiogoDias/Cx3OcSIVPP/1658.ts
#EXTINF:-1,BR: Esporte Interativo
http://163.172.84.149:8000/live/DiogoDias/Cx3OcSIVPP/1659.ts
#EXTINF:-1,BR: ESPN + HD
http://163.172.84.149:8000/live/DiogoDias/Cx3OcSIVPP/1660.ts
#EXTINF:-1,BR: ESPN Brasil HD
http://163.172.84.149:8000/live/DiogoDias/Cx3OcSIVPP/1661.ts
#EXTINF:-1,BR: ESPN Brasil
http://163.172.84.149:8000/live/DiogoDias/Cx3OcSIVPP/1662.ts
#EXTINF:-1,BR: ESPN  HD
http://163.172.84.149:8000/live/DiogoDias/Cx3OcSIVPP/1663.ts
#EXTINF:-1,BR: ESPN
http://163.172.84.149:8000/live/DiogoDias/Cx3OcSIVPP/1664.ts
#EXTINF:-1,BR: EI Maxx 2
http://163.172.84.149:8000/live/DiogoDias/Cx3OcSIVPP/1698.ts
#EXTINF:-1,BR: Disney Junior
http://163.172.84.149:8000/live/DiogoDias/Cx3OcSIVPP/1701.ts
#EXTINF:-1,BR: Disney Channel
http://163.172.84.149:8000/live/DiogoDias/Cx3OcSIVPP/1665.ts
#EXTINF:-1,BR: Discovery World HD
http://163.172.84.149:8000/live/DiogoDias/Cx3OcSIVPP/1666.ts
#EXTINF:-1,BR: Discovery Turbo HD
http://163.172.84.149:8000/live/DiogoDias/Cx3OcSIVPP/1667.ts
#EXTINF:-1,BR: Discovery Turbo
http://163.172.84.149:8000/live/DiogoDias/Cx3OcSIVPP/1668.ts
#EXTINF:-1,BR: Discovery Theater
http://163.172.84.149:8000/live/DiogoDias/Cx3OcSIVPP/1669.ts
#EXTINF:-1,BR: Discovery Science
http://163.172.84.149:8000/live/DiogoDias/Cx3OcSIVPP/1670.ts
#EXTINF:-1,BR: Discovery Kids HD
http://163.172.84.149:8000/live/DiogoDias/Cx3OcSIVPP/1671.ts
#EXTINF:-1,BR: Discovery Kids
http://163.172.84.149:8000/live/DiogoDias/Cx3OcSIVPP/1672.ts
#EXTINF:-1,BR: Discovery H&H HD
http://163.172.84.149:8000/live/DiogoDias/Cx3OcSIVPP/1673.ts
#EXTINF:-1,BR: Discovery H&H
http://163.172.84.149:8000/live/DiogoDias/Cx3OcSIVPP/1674.ts
#EXTINF:-1,BR: Discovery Civilization
http://163.172.84.149:8000/live/DiogoDias/Cx3OcSIVPP/1675.ts
#EXTINF:-1,BR: Discovery Channel HD
http://163.172.84.149:8000/live/DiogoDias/Cx3OcSIVPP/1676.ts
#EXTINF:-1,BR: Discovery Channel
http://163.172.84.149:8000/live/DiogoDias/Cx3OcSIVPP/1677.ts
#EXTINF:-1,BR: Combate
http://163.172.84.149:8000/live/DiogoDias/Cx3OcSIVPP/1693.ts
#EXTINF:-1,BR: Cartoon Network HD
http://163.172.84.149:8000/live/DiogoDias/Cx3OcSIVPP/1678.ts
#EXTINF:-1,BR: Cartoon Network FHD
http://163.172.84.149:8000/live/DiogoDias/Cx3OcSIVPP/1679.ts
#EXTINF:-1,BR: Band
http://163.172.84.149:8000/live/DiogoDias/Cx3OcSIVPP/1689.ts
#EXTINF:-1,BR: AXN
http://163.172.84.149:8000/live/DiogoDias/Cx3OcSIVPP/1686.ts
#EXTINF:-1,BR: Animal Planet HD
http://163.172.84.149:8000/live/DiogoDias/Cx3OcSIVPP/1687.ts
#EXTINF:-1,BR: Animal Planet
http://163.172.84.149:8000/live/DiogoDias/Cx3OcSIVPP/1688.ts
#EXTINF:-1,BR: AMC
http://163.172.84.149:8000/live/DiogoDias/Cx3OcSIVPP/1682.ts
#EXTINF:-1,BR: A&E HD
http://163.172.84.149:8000/live/DiogoDias/Cx3OcSIVPP/1684.ts
#EXTINF:-1,BR: A&E
http://163.172.84.149:8000/live/DiogoDias/Cx3OcSIVPP/1685.ts
#EXTINF:-1,BR: Warner Channel HD
http://163.172.84.149:8000/live/DiogoDias/Cx3OcSIVPP/1535.ts
#EXTINF:-1,BR: Warner Channel
http://163.172.84.149:8000/live/DiogoDias/Cx3OcSIVPP/1536.ts
#EXTINF:-1,BR: VIVA HD
http://163.172.84.149:8000/live/DiogoDias/Cx3OcSIVPP/1537.ts
#EXTINF:-1,BR: VIVA
http://163.172.84.149:8000/live/DiogoDias/Cx3OcSIVPP/1538.ts
#EXTINF:-1,BR: VH1
http://163.172.84.149:8000/live/DiogoDias/Cx3OcSIVPP/1539.ts
#EXTINF:-1,BR: Universal Channel HD
http://163.172.84.149:8000/live/DiogoDias/Cx3OcSIVPP/1540.ts
#EXTINF:-1,BR: Universal Channel
http://163.172.84.149:8000/live/DiogoDias/Cx3OcSIVPP/1541.ts
#EXTINF:-1,BR: Tv Gazeta
http://163.172.84.149:8000/live/DiogoDias/Cx3OcSIVPP/1543.ts
#EXTINF:-1,BR: Tooncast
http://163.172.84.149:8000/live/DiogoDias/Cx3OcSIVPP/1545.ts
#EXTINF:-1,BR: TNT Séries
http://163.172.84.149:8000/live/DiogoDias/Cx3OcSIVPP/1547.ts
#EXTINF:-1,BR: TNT HD
http://163.172.84.149:8000/live/DiogoDias/Cx3OcSIVPP/1548.ts
#EXTINF:-1,BR: TNT
http://163.172.84.149:8000/live/DiogoDias/Cx3OcSIVPP/1549.ts
#EXTINF:-1,BR: TLC HD
http://163.172.84.149:8000/live/DiogoDias/Cx3OcSIVPP/1550.ts
#EXTINF:-1,BR: TLC
http://163.172.84.149:8000/live/DiogoDias/Cx3OcSIVPP/1551.ts
#EXTINF:-1,BR: TCM
http://163.172.84.149:8000/live/DiogoDias/Cx3OcSIVPP/1563.ts
#EXTINF:-1,BR: SyFy HD
http://163.172.84.149:8000/live/DiogoDias/Cx3OcSIVPP/1565.ts
#EXTINF:-1,BR: Studio Universal HD
http://163.172.84.149:8000/live/DiogoDias/Cx3OcSIVPP/1566.ts
#EXTINF:-1,BR: SporTV HD
http://163.172.84.149:8000/live/DiogoDias/Cx3OcSIVPP/1567.ts
#EXTINF:-1,BR: SporTV 3 HD
http://163.172.84.149:8000/live/DiogoDias/Cx3OcSIVPP/1568.ts
#EXTINF:-1,BR: SporTV 3
http://163.172.84.149:8000/live/DiogoDias/Cx3OcSIVPP/1569.ts
#EXTINF:-1,BR: SporTV 2 HD
http://163.172.84.149:8000/live/DiogoDias/Cx3OcSIVPP/1570.ts
#EXTINF:-1,BR: SporTV 2
http://163.172.84.149:8000/live/DiogoDias/Cx3OcSIVPP/1571.ts
#EXTINF:-1,BR: SporTV
http://163.172.84.149:8000/live/DiogoDias/Cx3OcSIVPP/1572.ts
#EXTINF:-1,BR: SBT
http://163.172.84.149:8000/live/DiogoDias/Cx3OcSIVPP/1574.ts
#EXTINF:-1,BR: Rede TV
http://163.172.84.149:8000/live/DiogoDias/Cx3OcSIVPP/1576.ts
#EXTINF:-1,BR: Record News HD
http://163.172.84.149:8000/live/DiogoDias/Cx3OcSIVPP/1577.ts
#EXTINF:-1,BR: Record News
http://163.172.84.149:8000/live/DiogoDias/Cx3OcSIVPP/1578.ts
#EXTINF:-1,BR: Record HD
http://163.172.84.149:8000/live/DiogoDias/Cx3OcSIVPP/1579.ts
#EXTINF:-1,BR: Record FHD
http://163.172.84.149:8000/live/DiogoDias/Cx3OcSIVPP/1580.ts
#EXTINF:-1,BR: Premiere Clubes HD
http://163.172.84.149:8000/live/DiogoDias/Cx3OcSIVPP/1582.ts
#EXTINF:-1,BR: Multishow HD
http://163.172.84.149:8000/live/DiogoDias/Cx3OcSIVPP/1584.ts
#EXTINF:-1,BR: MTV HD
http://163.172.84.149:8000/live/DiogoDias/Cx3OcSIVPP/1586.ts
#EXTINF:-1,BR: Megapix HD
http://163.172.84.149:8000/live/DiogoDias/Cx3OcSIVPP/1588.ts
#EXTINF:-1,BR: Megapix
http://163.172.84.149:8000/live/DiogoDias/Cx3OcSIVPP/1589.ts
#EXTINF:-1,BR: Max Up
http://163.172.84.149:8000/live/DiogoDias/Cx3OcSIVPP/1590.ts
#EXTINF:-1,BR: Max Prime HD
http://163.172.84.149:8000/live/DiogoDias/Cx3OcSIVPP/1591.ts
#EXTINF:-1,BR: Max Prime
http://163.172.84.149:8000/live/DiogoDias/Cx3OcSIVPP/1592.ts
#EXTINF:-1,BR: Max
http://163.172.84.149:8000/live/DiogoDias/Cx3OcSIVPP/1593.ts
#EXTINF:-1,BR: Investigação Discovery HD
http://163.172.84.149:8000/live/DiogoDias/Cx3OcSIVPP/1594.ts
#EXTINF:-1,BR: HBO Signature HD
http://163.172.84.149:8000/live/DiogoDias/Cx3OcSIVPP/1595.ts
#EXTINF:-1,BR: HBO Plus HD
http://163.172.84.149:8000/live/DiogoDias/Cx3OcSIVPP/1597.ts
#EXTINF:-1,BR: HBO Plus
http://163.172.84.149:8000/live/DiogoDias/Cx3OcSIVPP/1598.ts
#EXTINF:-1,BR: HBO HD
http://163.172.84.149:8000/live/DiogoDias/Cx3OcSIVPP/1599.ts
#EXTINF:-1,BR: HBO Family HD
http://163.172.84.149:8000/live/DiogoDias/Cx3OcSIVPP/1600.ts
#EXTINF:-1,BR: HBO 2 HD
http://163.172.84.149:8000/live/DiogoDias/Cx3OcSIVPP/1601.ts
#EXTINF:-1,BR: HBO
http://163.172.84.149:8000/live/DiogoDias/Cx3OcSIVPP/1602.ts
#EXTINF:-1,BR: GNT HD
http://163.172.84.149:8000/live/DiogoDias/Cx3OcSIVPP/1603.ts
#EXTINF:-1,BR: Globo News HD
http://163.172.84.149:8000/live/DiogoDias/Cx3OcSIVPP/1606.ts
#EXTINF:-1,BR: FX HD
http://163.172.84.149:8000/live/DiogoDias/Cx3OcSIVPP/1609.ts
#EXTINF:-1,BR: Fox Sports 2 HD
http://163.172.84.149:8000/live/DiogoDias/Cx3OcSIVPP/1610.ts
#EXTINF:-1,BR: Fox Sports
http://163.172.84.149:8000/live/DiogoDias/Cx3OcSIVPP/1611.ts
#EXTINF:-1,BR: Fox Premium 2 HD
http://163.172.84.149:8000/live/DiogoDias/Cx3OcSIVPP/1612.ts
#EXTINF:-1,BR: Fox Premium 1 HD
http://163.172.84.149:8000/live/DiogoDias/Cx3OcSIVPP/1613.ts
#EXTINF:-1,BR: Fox Life
http://163.172.84.149:8000/live/DiogoDias/Cx3OcSIVPP/1614.ts
#EXTINF:-1,BR: Fox HD
http://163.172.84.149:8000/live/DiogoDias/Cx3OcSIVPP/1615.ts
#EXTINF:-1,BR: EI Maxx HD
http://163.172.84.149:8000/live/DiogoDias/Cx3OcSIVPP/1616.ts
#EXTINF:-1,BR: EI Maxx 2 HD
http://163.172.84.149:8000/live/DiogoDias/Cx3OcSIVPP/1617.ts
#EXTINF:-1,BR: EI Maxx
http://163.172.84.149:8000/live/DiogoDias/Cx3OcSIVPP/1618.ts
#EXTINF:-1,BR: Disney XD
http://163.172.84.149:8000/live/DiogoDias/Cx3OcSIVPP/1619.ts
#EXTINF:-1,BR: Disney Junior HD
http://163.172.84.149:8000/live/DiogoDias/Cx3OcSIVPP/1620.ts
#EXTINF:-1,BR: Disney Channel HD
http://163.172.84.149:8000/live/DiogoDias/Cx3OcSIVPP/1621.ts
#EXTINF:-1,BR: Band Sports
http://163.172.84.149:8000/live/DiogoDias/Cx3OcSIVPP/1630.ts
#EXTINF:-1,BR: Band News
http://163.172.84.149:8000/live/DiogoDias/Cx3OcSIVPP/1631.ts
#EXTINF:-1,BR: Band HD
http://163.172.84.149:8000/live/DiogoDias/Cx3OcSIVPP/1632.ts
#EXTINF:-1,BR: AXN HD
http://163.172.84.149:8000/live/DiogoDias/Cx3OcSIVPP/1633.ts
#EXTINF:-1,BR: AMC HD
http://163.172.84.149:8000/live/DiogoDias/Cx3OcSIVPP/1634.ts
